* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  background: #333333;
  color: #ddd;
  border-top: 5px solid #fcaf17;
  box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
}

.clear {
  display: block; }

.clear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Sections */
body > header, body > section, body > footer {
  float: left;
  width: 100%;
  clear: both; }

/* Header */
body > header h1, body > header nav {
  display: inline-block; }

body > header h1 span {
  display: none; }

nav ul {
  float: right;
  padding: 0;
  margin: 0; }

nav li {
  display: inline-block; }

.main-nav {
  margin-top: 25px; }

.main-nav li {
  margin-right: 10px; }

.main-nav li a {
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  padding: 0.5em 1em;
  text-shadow: none;
  text-transform: uppercase;
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s; }

.main-nav li a:hover {
  background: #252525;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

#twitter a:hover, #facebook a:hover {
  background:none;
  box-shadow:none;
}

#twitter img, #facebook img {
width: 25px;
}

#twitter, #facebook {
 margin:0;
 padding:0;
}
#twitter a, #facebook a{
 margin:0;
 padding:0;
}

.main-nav li.current a {
  background: #fc0;
  color: #222;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.mobile-nav ul {
  overflow: hidden;
  width: 100%;
  display: table; }

.mobile-nav a {
  float: left;
  width: 100%;
  background: #333;
  color: #fc0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  padding: 5px 0;
  border-radius: 5px; }

.mobile-nav .current a {
  background: #fc0;
  color: #222;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.mobile-nav li {
  display: table-cell;
  width: 33.3%;
  padding: 8px; }

@media (max-width: 768px) {
  .main-nav ul {
    text-align: right; } }
@media (max-width: 720px) {
  .main-nav .show-on-mobiles {
    display: inline; }

  .main-nav .hide-on-mobiles {
    display: none; } }
/* HTML Elements */
h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  color: #fc0;
  text-decoration: none;
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s; }

a:hover {
  color: #f90; }

strong {
  font-weight: 700; }

p {
  line-height: 1.5em; }

.left {
  float: left; }

.right {
  float: right; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

/* Intro */
.intro .unit {
  padding: 10px 0 40px; }

#line {
  text-align: center; }

#call_to_action {
  padding: 15px;
  background: #252525;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  height: 180px;
  font-size: 0.8em; }

#line p {
  font-size: 2em;
  line-height: 1em;
  margin: 12px 0; }


#video iframe {
  float:right;
}

@media (min-width: 569px) {
  .intro p {
    font-size: 1.6em; } }
/* divider */
.divider {
  background: #fcaf17;
  margin: 60px 0;
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.4); }

.divider .content {
  padding: 0px 0; }

.divider h4 {
  font-size: 1.8em;
  line-height: 24px;
  padding: 15px;
  color: #333333;
  text-align: center; }

.divider .code {
  font-size: 12px;
  display: block;
  margin: 0 0 -30px; }

@media (min-width: 768px) {
  .divider .code {
    font-size: 1.8em;
    margin: -30px 0;
    float: right; }

  .divider h4 {
    text-align: center; } }
/* WORK */
#projects img {
  width: 295px;
  height: 180px;
  display: block;
  margin: auto;
  padding: 10px; }

#projects .unit > div {
  height: 180px;
  margin-bottom: 15px;
  background: #252525;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

/* FOOTER */
footer {
  font-size: 0.6em;
  color: #333333;
  text-shadow: none;
  background: #fcaf17; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #7a3a25; }


/* PAGES CSS */
#page {
  min-height: 500px;
  line-height: 1.5em;
}
#page h1{
  margin-bottom: 35px;
  border-bottom: 1px solid #fc0;
  padding-bottom: 5px;
}


/* article */
#page article {
  padding: 40px 40px 30px;
  font-size: 21px;
}

#page article {
  background: #444;
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
  min-height: 540px;
}

#page article:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#submit {
border: 0;
background-color: #68ace0;
color: #fff;
text-shadow: 0 1px 1px #48789c;
border: none;
padding: .84em 1.47em;
font-size: 1.2em;
line-height: 1.2em;
-webkit-box-shadow: 0 5px 0 #3e6786,0 7px 2px rgba(0,0,0,0.25);
-moz-box-shadow: 0 5px 0 #3e6786,0 7px 2px rgba(0,0,0,0.25);
box-shadow: 0 5px 0 #3e6786,0 7px 2px rgba(0,0,0,0.25);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
padding: .7em 1.225em;
font-size: 1em;
line-height: 1em;
-webkit-box-shadow: 0 2px 0 #3e6786,0 2.8px 2px rgba(0,0,0,0.25);
-moz-box-shadow: 0 2px 0 #3e6786,0 2.8px 2px rgba(0,0,0,0.25);
box-shadow: 0 2px 0 #3e6786,0 2.8px 2px rgba(0,0,0,0.25);
}
