---
layout: page
---
{% include header.html %}

  <section>
    <div class="grid">
      <div id="page" class="unit whole">
        <article>

          <h2>{{ page.author }}</h2>

          <hr />


          <ul>

          {% assign index = true %}
            {% for post in site.posts %}
              {% if post.author contains page.author %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
          {% endfor %}

          </ul>

        </article>
      </div>
    </div>
  </section>

{% include footer.html %}
